/* BASIC */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.85em;
  color: #888;
  font-weight: 300;
  font-size: 13pt;
  padding-top: 3.5em;
}

.container img {
  width: 100%;
  display: block;
}

.container h1,
.container h2,
.container h3 {
  color: #3e3e3e;
  margin: 0 0 0.75em 0;
  font-weight: 700;
}

.container h1 {
  font-size: 3.25em;
  letter-spacing: -0.025em;
  font-weight: 100;
}

.container h2 {
  font-size: 2em;
  letter-spacing: -0.015em;
}

.container h3 {
  font-size: 1.5em;
  letter-spacing: -0.015em;
}

.container ul {
  list-style: none;
}

.container p {
  margin-bottom: 2em;
}

strong {
  font-weight: 600;
  color: #3e3e3e;
}

.container header {
  margin-bottom: 3em;
}

/* NAVIGATION*/
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 3.5em;
  width: 100%;
  text-align: center;
  z-index: 100;
  line-height: 3.5em;
  background-color: #282828;
}

.container {
  max-width: calc(100% - 50px);
  width: 1200px;
  margin: 0 auto;
}

.navigation li {
  display: inline-block;
}

.navigation li a {
  display: block;
  text-decoration: none;
  font-weight: 600;
  border-radius: 8px;
  color: #fff;
  height: 2.5em;
  line-height: 2.5em;
  padding: 0 1.25em;
  transition: all 0.2s ease-in-out;
}

.navigation li a:hover {
  background: #383838;
}

/* SECTION ONE */
.section {
  box-shadow: inset 0px 1px 0px 0px rgb(0 0 0 / 5%),
    inset 0px 2px 3px 0px rgb(0 0 0 / 10%);
  padding: 8em 0;
  text-align: center;
  background-image: url('./images/bg.png');
}

.top-section {
  padding: 10em 0 10em 0;
  text-align: left;
  background-color: #fff;
  background-image: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: -25px;
  margin-left: -25px;
}

.row > * {
  padding: 25px 0 0 25px;
}

.image-avatar {
  width: 33.33333%;
  text-align: right;
}

.description {
  width: 66.66667%;
}

.image {
  border-radius: 100%;
  width: 20em;
  height: 20em;
  margin: 0;
}

.top-section img {
  border-radius: 50%;
}

.top-section header h1 {
  margin-top: 0.35em;
}

h1 strong {
  font-weight: 700;
}

.description p {
  font-size: 1.5em;
  line-height: 1.75em;
}

.description p a {
  color: inherit;
  transition: all 0.2s ease-in-out;
}

.description p a:hover {
  color: #43b3e0;
}

.container .button,
.container input[type='button'],
.container input[type='reset'],
.container input[type='submit'] {
  max-width: 24em;
  padding: 1em 2.35em 1em 2.35em;
  background-color: #43b3e0;
  box-shadow: inset 0px 0px 0px 1px rgb(0 0 0 / 50%),
    inset 0px 2px 1px 0px rgb(255 255 255 / 75%);
  overflow: hidden;
  text-shadow: -1px -1px 0.5px rgb(0 0 0 / 50%);
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
  background-image: url('./images/bg.png');
}

.button:hover {
  background-color: #43bff0;
}

.button.large {
  font-size: 1.5em;
  letter-spacing: -0.025em;
}

/* SECTION TWO */
.work-section {
  background-color: #fafafa;
}

.work-section header {
  margin-bottom: 3em;
}

.work-section header p {
  font-size: 1.25em;
  margin: 0;
}

.work-section .row {
  justify-content: center;
}

.work-section .row > * {
  width: 33.33333%;
}

.box {
  background-color: #fff;
  box-shadow: inset 0px 0px 0px 1px rgb(0 0 0 / 15%),
    0px 2px 3px 0px rgb(0 0 0 / 10%);
  text-align: center;
  padding: 2em;
}

.work-tile .box {
  padding: 3em 2em 3.5em 2em;
}

.work-tile .box p {
  margin: 0;
}

.work-section .icon {
  color: #ea8a95;
  margin-bottom: 1.5em;
}

.work-section .icon > * {
  font-size: 6em;
}

.box h3 {
  margin-bottom: 0.5em;
}

.work-section footer {
  margin-top: 3em;
}

.work-section footer p {
  font-size: 1.25em;
}

/* SECTION THREE */
.portfolio-section {
  background-color: #f4f4f4;
}

.portfolio-section header p {
  font-size: 1.25em;
  margin: 0;
}

.portfolio-tile {
  width: 33.33333%;
}

.portfolio-section .portfolio-tile .box {
  padding: 2em;
}

.portfolio-tile .portfolio-image {
  position: relative;
  left: 2em;
  top: 2em;
  margin: -4em 0 4em -4em;
  width: auto;
  display: block;
}

.portfolio-tile p {
  margin: 0;
}

.portfolio-section footer {
  margin-top: 3em;
}

.portfolio-section footer > p {
  font-size: 1.25em;
}

/* CONTACT SECTION */
.contact-section {
  background-color: #303030;
  color: #999;
  text-shadow: -1px -1px 0px #181818;
}

.container.md {
  width: 900px;
}

.contact-section h2 {
  color: #fff;
}

.contact-section header p {
  font-size: 1.25em;
  margin: 0;
}

.contact-section .container.md > .row > * {
  width: 100%;
}

.field-half {
  width: 50%;
}

.field,
.actions {
  width: 100%;
}

.container input,
.container textarea {
  width: 100%;
  resize: none;
  border-radius: 8px;
  font-size: 1em;
  color: #bbb;
  padding: 0.75em;
  box-shadow: inset 0px 2px 3px 1px rgb(0 0 0 / 5%),
    0px 1px 0px 0px rgb(255 255 255 / 3%);

  outline: 0;
  border: 0;
  display: block;
  transition: all 0.2s ease-in-out;
  line-height: 1.85em;
  background: #282828;
}

.container input:focus,
.container textarea:focus {
  background: #252525;
  outline: 0;
}

.container input:focus {
  box-shadow: inset 0px 2px 5px 0px rgb(0 0 0 / 5%),
    0px 1px 0px 0px rgb(255 255 255 / 3%), inset 0px 0px 2px 1px #43bff0;
}

.container form textarea {
  height: 15em;
}

.container form .actions li {
  display: inline-block;
  padding: 0;
}

.container form .actions li:last-child {
  margin-left: 1em;
}

.container form .actions li .alt {
  background-color: #444;
  box-shadow: inset 0px 0px 0px 1px #242424,
    inset 0px 2px 1px 0px rgb(255 255 255 / 20%);
}

.contact-section hr {
  border: 0;
  border-top: solid 1px #444;
  border-top-color: rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 0px 0px rgb(255 255 255 / 10%);
  height: 1px;
  margin: 3em 0;
}

.contact-section h3 {
  color: #fff;
}

.social ul li {
  display: inline-block;
  margin: 0.25em;
}

.social-icon {
  width: 48px;
  height: 48px;
  border-radius: 6px;
  background-color: #444;
  color: #2e2e2e;
  text-align: center;
  text-shadow: 1px 1px 0px rgb(255 255 255 / 10%);
  overflow: hidden;
  font-size: 26px;
  line-height: 48px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.social-icon:hover {
  transform: translateY(-5px);
}

ul li:first-child .social-icon:hover {
  background-color: #2daae4;
}

ul li:nth-child(2) .social-icon:hover {
  background-color: #3c5a98;
}

ul li:nth-child(3) .social-icon:hover {
  background-color: #c4376b;
}

ul li:nth-child(4) .social-icon:hover {
  background-color: #006599;
}

ul li:nth-child(5) .social-icon:hover {
  background-color: #51718a;
}

ul li:nth-child(6) .social-icon:hover {
  background-color: #da2713;
}

ul li:last-child .social-icon:hover {
  background-color: #fafafa;
}

.contact-section .footer {
  font-size: 0.9em;
  margin-top: 3em;
}

.footer .copyright {
  color: #666;
  font-size: 1em;
  line-height: 1em;
}

.copyright li {
  display: inline-block;
}

.copyright li:last-child {
  padding-left: 1em;
  margin-left: 1em;
  border-left: solid 1px rgba(0, 0, 0, 0.5);
  box-shadow: -1px 0px 0px 0px rgb(255 255 255 / 10%);
}

.copyright a {
  transition: all 0.2s ease-in-out;
  color: inherit;
}

.copyright a:hover {
  color: #43bff0;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1280px) {
  body {
    font-size: 11pt;
  }

  .container {
    width: 960px;
  }

  .top-sectioned {
    padding: 8em 0 !important;
  }

  .image-avatar {
    width: 41.66667%;
  }

  .description {
    width: 58.33333%;
  }

  .image {
    width: 24em;
    height: 24em;
  }

  .container header {
    margin-bottom: 4em !important;
  }

  section.contact-section,
  .portfolio-section,
  .work-section {
    padding: 5em 0;
    text-align: center;
  }

  .container.md {
    width: 720px;
  }
}

@media screen and (max-width: 980px) {
  .container {
    width: 100%;
  }

  .top-sectioned {
    padding: 5em 0 5em 0 !important;
    text-align: center;
  }

  .description,
  .image-avatar {
    width: 100%;
  }

  .image {
    margin: 0 auto 2em auto;
  }

  .work-section .row .work-tile {
    width: 50%;
  }

  .row .portfolio-tile {
    width: 50%;
  }

  .container.md {
    width: 75%;
  }
}

@media screen and (max-width: 736px) {
  body {
    line-height: 1.75em;
    font-size: 10pt;
    letter-spacing: 0;
    padding-top: 44px;
  }

  .navigation {
    height: 44px;
    line-height: 44px;
  }

  .container {
    width: 100%;
    max-width: calc(100% - 30px);
  }

  .navigation li a {
    padding: 0 0.75em;
    height: inherit;
    line-height: inherit;
    border-radius: 0;
  }

  .navigation li a:hover {
    background: transparent;
  }

  .top-section {
    padding: 3em 0 !important;
  }

  .row {
    margin-top: -15px;
    margin-left: -15px;
  }

  .row > * {
    padding: 15px 0 0 15px;
  }

  .image {
    width: 15em;
    height: 15em;
    margin-bottom: 0;
  }

  .container header {
    margin-bottom: 2em !important;
  }

  .container h1 {
    font-size: 2.25em;
    line-height: 1.25em;
  }

  .description p {
    font-size: 1em;
  }

  .container .button,
  .container input[type='submit'],
  .container input[type='reset'] {
    font-size: 1.2em;
    letter-spacing: 0;
    width: 100%;
    padding: 1em 0;
  }

  .button.large {
    font-size: 1.2em;
    letter-spacing: 0;
  }

  .work-section,
  .portfolio-section,
  .contact-section {
    padding: 3em 0;
  }

  section h2 {
    font-size: 1.25em;
    margin: 0 0 0.4em 0;
  }

  .work-section .row .work-tile {
    width: 100%;
  }

  .work-tile .box {
    max-width: 32em;
    margin: 0 auto;
    padding: 3em 2em 3.5em 2em;
    margin-bottom: 20px;
  }

  .work-tile .box h3 {
    font-size: 1.25em;
  }

  .work-section footer {
    margin-top: 2.5em;
  }

  .work-section footer p {
    font-size: 1.25em;
  }

  .row .portfolio-tile {
    width: 100%;
  }

  .row .portfolio-tile .box {
    max-width: 32em;
    margin: 0 auto;
    padding: 30px 20px 30px 20px !important;
  }

  .portfolio-image {
    position: relative;
    top: 20px !important;
    left: 20px !important;
    margin: -50px 0 50px -40px !important;
    width: auto;
  }

  .portfolio-tile h3 {
    font-size: 1.25em;
    margin-bottom: 0.2em;
  }

  .portfolio-section footer {
    margin-top: 2.5em;
  }

  .container.md {
    width: 100%;
  }

  .field-half {
    width: 100%;
  }

  form .actions li {
    display: block;
    margin: 15px 0 0 0;
  }

  form .actions li:first-child {
    margin: 0;
  }

  form .actions li:last-child {
    margin-left: 0;
  }

  hr {
    margin: 1.5em 0 2em 0 !important;
  }

  .contact-section h3 {
    font-size: 1.25em;
    margin: 0 0 0.4em 0;
  }

  .social ul {
    padding: 1em 0.5em 0 0.5em;
  }

  .social ul li {
    margin: 0.5em 0.5em 0.5em 0.5em;
  }

  ul li:first-child .social-icon {
    background-color: #2daae4;
  }

  ul li:nth-child(2) .social-icon {
    background-color: #3c5a98;
  }

  ul li:nth-child(3) .social-icon {
    background-color: #c4376b;
  }

  ul li:nth-child(4) .social-icon {
    background-color: #006599;
  }

  ul li:nth-child(5) .social-icon {
    background-color: #51718a;
  }

  ul li:nth-child(6) .social-icon {
    background-color: #da2713;
  }

  ul li:last-child .social-icon {
    background-color: #fafafa;
  }

  .social-icon {
    pointer-events: none !important;
  }

  .contact-section footer {
    margin: 0 !important;
  }

  .contact-section footer .copyright li {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
  }

  .contact-section footer .copyright li:last-child {
    margin-top: 1em;
  }
}
